* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 1280px;
}

main,
aside {
    min-height: calc(100vh - 170px - 80px);
    display: inline-block;
}

main {
    background-color: #ffffff;
    width: 70%;
    float: right;
}

aside {
    background-color: #fbfcfc;
    width: 30%;
    font-size: 18px;
    line-height: 29px;
    color: #252b2d;
    font-weight: 400;
    float: left;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 40px;
}

header {
    color: white;
    height: 170px;
    background-color: #4c5fab;
}

.name {
    top: 20px;
    position: relative;
    text-align: left;
    left: 300px;
    font-size: 39px;
    letter-spacing: 2px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 800;
}

.name2 {
    top: 30px;
    position: relative;
    text-align: left;
    left: 300px;
    font-size: 23px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 400;
}

.header-ul {
    width: 180px;
    line-height: 28px;
    color: #ffffff;
    position: relative;
    left: 80%;
    top: -30%;
}

.fa-map-marker-alt,
.fa-globe,
.fa-phone {
    margin-right: 10px;
}

.contact {
    text-align: right;
}

.circle {
    height: 120px;
    width: 120px;
    background-color: #d6d6d6;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    float: left;
    left: 70px;
    top: 30px;
}


/*blue circe and fa briefcase together are creating icons,
 with blue background that are supposed to be next to the h3 elements*/

.blue_circle {
    background-color: #4c5fab;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: -2;
    text-align: center;
    /*vertical-align: middle;*/
    float: left;
    margin-left: 10px;
    margin-right: 20px;
}

.fa-briefcase {
    color: white;
    z-index: 3;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    width: 16px;
    height: 15px;
    border-radius: 1px;
}

.portfolio::after {
    content: "";
    clear: both;
    text-align: right;
}

.chapter {
    margin-top: 10px;
    padding: 10px;
    font-size: 26px;
    line-height: 49px;
    color: #1c2123;
    font-family: "Montserrat";
    font-weight: bold;
}


/*the pictures are in the boxes desplayed on the left on the screen*/

.pictures {
    float: left;
    margin-left: 100px;
    padding: 15px;
    box-sizing: content-box;
    column-count: 2;
    text-align: center;
    vertical-align: middle;
    column-gap: 40px;
    margin-top: 10px;
}

.box {
    width: 280px;
    height: 310px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
}

img {
    width: 100%;
}

.box:hover {
    background-color: #0099cc;
}


/*desc and smaller are the text beneath the pictures in the boxes*/

.desc {
    font-size: 18px;
    line-height: 20px;
    color: #1c2123;
    font-family: "Open Sans";
    font-weight: 600;
    padding-top: 30px;
}

.smaller {
    font-size: 18px;
    line-height: 20px;
    color: #1c2123;
    font-family: "Open Sans";
    font-weight: 400;
    text-align: center;
}

.interest {
    font-size: 26px;
    line-height: 49px;
    color: #1c2123;
    font-weight: 400;
}


/*small icons and icons are values responsible for displying the interests
the fa-thingys are icons themself*/

.fa-headphones,
.fa-gamepad,
.fa-motorcycle {
    font-size: 25px;
    color: #4c5fab;
    text-align: center;
    margin: 8px 0px;
    padding-bottom: 30px;
}

.small_icons {
    column-count: 3;
}

.icon {
    width: 70px;
    height: 70px;
    border: solid 8px #4c5fab;
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    column-gap: 50px;
    margin-left: 10px;
    filter: drop-shadow(0px 2px 1px rgba(6, 8, 8, 0.2));
    background-image: linear-gradient(0deg, #f1f4f5 0%, #ffffff 100%);
}

.about {
    font-size: 18px;
    line-height: 29px;
    color: #252b2d;
    font-family: "Open Sans";
    font-weight: 400;
    margin-left: 20px;
}

.aside_info {
    margin-top: 30px;
    font-size: 26px;
    line-height: 49px;
    color: #1c2123;
    font-family: "Montserrat";
    font-weight: bold;
    margin-bottom: 25px;
}


/*fancy_thing is a name for a symbol created from two dots and a line, it supposed to be on the left of the screen, next to the text*/

.fancy_thing {
    float: left;
}

.dot {
    width: 19px;
    height: 19px;
    border-radius: 9px;
    background-color: #505252;
    border: 1px solid #505252;
}

.line {
    width: 2px;
    height: 92px;
    background-color: #3f5757;
    border: 1px solid #517575;
    margin-left: 9px;
}


/*the date and text in the experience*/

.number {
    font-size: 18px;
    line-height: 20px;
    color: #060808;
    font-family: "Open Sans";
    font-weight: 400;
}


/*The blue text in the experience*/

.blue {
    font-size: 18px;
    line-height: 20px;
    color: #3449dc;
    font-family: "Open Sans";
    font-weight: 600;
}


/*the names of the interests beneath the icons*/

.text {
    font-size: 18px;
    color: #252b2d;
    font-family: "Open Sans";
    font-weight: 600;
    text-align: center;
    margin-left: -10px;
}

.awards {
    font-size: 18px;
    line-height: 35px;
    color: #252b2d;
    font-family: "Open Sans";
    font-weight: 600;
}

.divider {
    width: 1px;
    min-height: 100%;
    background-color: black;
    border: black solid 2px;
    position: absolute;
    left: 25%;
}

footer {
    display: inline-block;
    font-size: 18px;
    line-height: 28px;
    color: white;
    font-family: "Myriad Pro";
    background-color: #4c5fab;
    height: 80px;
    width: 1280px;
    padding-left: 30px;
    padding-top: 30px;
}